In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import mpl_toolkits
from IPython.display import display
import warnings

In [5]:
warnings.filterwarnings('ignore')

In [6]:
column_name = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('/content/drive/MyDrive/movie_recomendation_system/u.data', sep='\t', names = column_name)
df

       user_id  item_id  rating  timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [15]:
movie_titles = pd.read_csv('/content/drive/MyDrive/movie_recomendation_system/u.item', sep='\|',  header=None)
movie_titles = movie_titles[[0,1]]
movie_titles.columns=['item_id', 'title']
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

**Merging two sets with common item_id**

In [16]:
df = pd.merge(df,movie_titles, on='item_id')
df.head()

   user_id  item_id  rating  timestamp         title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [18]:
movie_mat = df.pivot_table(index='user_id', columns='title',values='rating')
movie_mat.head()

title    'Til There Was You (1997)  ...  � k�ldum klaka (Cold Fever) (1994)
user_id                             ...
1                              NaN  ...                                 NaN
2                              NaN  ...                                 NaN
3                              NaN  ...                                 NaN
4                              NaN  ...                                 NaN
5                              NaN  ...                                 NaN

[5 rows x 1664 columns]

**let's see the recomendation system with an example = Star wars**

In [19]:
starwar_user_rating = movie_mat['Star Wars (1977)']
starwar_user_rating

user_id
1      5.0
2      5.0
3      NaN
4      5.0
5      4.0
      ...
939    NaN
940    4.0
941    NaN
942    5.0
943    4.0
Name: Star Wars (1977), Length: 943, dtype: float64

**correlating starwar rating with movie_mat**

In [20]:
movie_mat.corrwith(starwar_user_rating)

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
� k�ldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

In [24]:
similar_starwars = movie_mat.corrwith(starwar_user_rating)
corr_starwar = pd.DataFrame(similar_starwars, columns=['correlation'])
corr_starwar.dropna(inplace=True)
corr_starwar.head()

                           correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

In [26]:
corr_starwar.sort_values('correlation', ascending=False).head()

                     correlation
title
Hollow Reed (1996)           1.0
Commandments (1997)          1.0
Cosi (1996)                  1.0
No Escape (1994)             1.0
Stripes (1981)               1.0

**Mean of rating and counts of rating**

In [28]:
ratings = pd.DataFrame(df.groupby('title').mean()['rating'])
ratings.head()

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000
101 Dalmatians (1996)      2.908257
12 Angry Men (1957)        4.344000
187 (1997)                 3.024390

In [30]:
ratings['no. of rating'] = pd.DataFrame(df.groupby('title').count()['rating'])
ratings.head()

                             rating  no. 0of rating  no. of rating
title
'Til There Was You (1997)  2.333333               9              9
1-900 (1994)               2.600000               5              5
101 Dalmatians (1996)      2.908257             109            109
12 Angry Men (1957)        4.344000             125            125
187 (1997)                 3.024390              41             41

In [31]:
corr_starwar = corr_starwar.join(ratings['no. of rating'])
corr_starwar.head()

                           correlation  no. of rating
title
'Til There Was You (1997)     0.872872              9
1-900 (1994)                 -0.645497              5
101 Dalmatians (1996)         0.211132            109
12 Angry Men (1957)           0.184289            125
187 (1997)                    0.027398             41

In [35]:
corr_starwar.sort_values('correlation',ascending = False)

                                        correlation  no. of rating
title
Hollow Reed (1996)                              1.0              6
Commandments (1997)                             1.0              3
Cosi (1996)                                     1.0              4
No Escape (1994)                                1.0              5
Stripes (1981)                                  1.0              5
...                                             ...            ...
Roseanna's Grave (For Roseanna) (1997)         -1.0              5
For Ever Mozart (1996)                         -1.0              3
American Dream (1990)                          -1.0              2
Frankie Starlight (1995)                       -1.0              4
Fille seule, La (A Single Girl) (1995)         -1.0              4

[1410 rows x 2 columns]

In [36]:
corr_starwar['no. of rating']>100

title
'Til There Was You (1997)                False
1-900 (1994)                             False
101 Dalmatians (1996)                     True
12 Angry Men (1957)                       True
187 (1997)                               False
                                         ...
Young Guns (1988)                         True
Young Guns II (1990)                     False
Young Poisoner's Handbook, The (1995)    False
Zeus and Roxanne (1997)                  False
unknown                                  False
Name: no. of rating, Length: 1410, dtype: bool

In [38]:
corr_starwar = corr_starwar[corr_starwar['no. of rating']>100].sort_values('correlation',ascending = False)
corr_starwar.head()

                                                    correlation  no. of rating
title
Star Wars (1977)                                       1.000000            583
Empire Strikes Back, The (1980)                        0.747981            367
Return of the Jedi (1983)                              0.672556            507
Raiders of the Lost Ark (1981)                         0.536117            420
Austin Powers: International Man of Mystery (1997)     0.377433            130

**Store in list who is mostly rated by user and similar to starwars**

In [42]:
corr_starwar_list = list(corr_starwar.index)
corr_starwar_list[:5]

['Star Wars (1977)',
 'Empire Strikes Back, The (1980)',
 'Return of the Jedi (1983)',
 'Raiders of the Lost Ark (1981)',
 'Austin Powers: International Man of Mystery (1997)']

**Predict Function**

In [51]:
def predict_movies(movie_name):
  movie_user_ratings = movie_mat[movie_name]
  similar_to_movie = movie_mat.corrwith(movie_user_ratings)
  corr_movie = pd.DataFrame(similar_to_movie, columns=['correlation'])
  corr_movie.dropna(inplace=True)
  corr_movie = corr_movie.join(ratings['no. of rating'])
  predictions = corr_movie[corr_movie['no. of rating']>100].sort_values('correlation',ascending = False)
  predictions = list(predictions.index)
  return predictions[:10]

**MOVIE RECOMMENDATION SYSTEM**

In [52]:
print('Enter The Name Of Movie')
movie_input = input()
print("Recommend Movies based on this movie")
movies = predict_movies(movie_input)
for movie in movies:
    print(movie)

Enter The Name Of Movie
Star Wars (1977)
Recommend Movies based on this movie
Star Wars (1977)
Empire Strikes Back, The (1980)
Return of the Jedi (1983)
Raiders of the Lost Ark (1981)
Austin Powers: International Man of Mystery (1997)
Sting, The (1973)
Indiana Jones and the Last Crusade (1989)
Pinocchio (1940)
Frighteners, The (1996)
L.A. Confidential (1997)